/* styles */

.header {
    background: steelblue;
}

.burger {
    width: 40px;
    height: 40px;
    top: 0;
    left: 0;
    padding: 18px;
}

.burger-bar {
    height: 10px;
    width: 38px;
    background: url("/images/menu-white.png") center center no-repeat;
    background-size: contain;
}
